In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [3]:
# Drop rows with missing Age or Fare values
df_clean = df[['Sex', 'Age', 'Fare']].dropna()

In [4]:
# Group by 'Sex' and get summary stats
grouped_stats = df_clean.groupby('Sex').agg({
    'Age': ['mean', 'median', 'min', 'max', 'std'],
    'Fare': ['mean', 'median', 'min', 'max', 'std']
})

In [5]:
print("Grouped Summary Statistics by Sex:")
print(grouped_stats)

Grouped Summary Statistics by Sex:
              Age                                     Fare               \
             mean median   min   max        std       mean median   min
Sex
female  27.915709   27.0  0.75  63.0  14.110146  47.582759   26.0  6.75
male    30.726645   29.0  0.42  80.0  14.678201  27.268836   13.0  0.00


             max        std
Sex
female  512.3292  61.346854
male    512.3292  45.841889

In [6]:
# Create a list of Fare values for each Sex group
fare_by_sex = df_clean.groupby('Sex')['Fare'].apply(list).to_dict()
print("\nFare List Grouped by Sex:")
print(fare_by_sex)

Fare List Grouped by Sex:
{'female': [71.2833, 7.925, 53.1, 11.1333, 30.0708, 16.7, 26.55, 7.8542, 16.0, 18.0, 8.0292, 21.075, 31.3875, 18.0, 11.2417, 9.475, 21.0, 41.5792, 7.8792, 17.8, 76.7292, 26.0, 10.5, 27.75, 80.0, 10.5, 7.925, 46.9, 12.475, 10.5, 15.85, 263.0, 23.0, 7.8958, 7.65, 14.4542, 9.825, 14.4583, 31.275, 13.0, 14.5, 26.0, 26.2833, 7.75, 15.85, 34.375, 66.6, 7.7333, 15.75, 27.9, 11.1333, 28.7125, 22.025, 13.0, 7.8542, 27.7208, 146.5208, 13.0, 10.4625, 7.75, 21.0, 113.275, 7.925, 76.2917, 83.475, 31.3875, 26.25, 7.775, 14.5, 10.4625, 20.2125, 15.2458, 86.5, 512.3292, 26.0, 153.4625, 135.6333, 19.5, 77.9583, 7.75, 20.25, 7.75, 78.85, 91.0792, 8.85, 151.55, 247.5208, 108.9, 56.9292, 83.1583, 262.375, 26.0, 7.8542, 26.0, 164.8667, 134.5, 12.35, 29.0, 135.6333, 13.0, 20.525, 57.9792, 134.5, 263.0, 13.0, 13.0, 55.0, 13.0, 14.4542, 75.25, 69.3, 21.075, 7.25, 227.525, 15.7417, 52.0, 13.0, 12.0, 113.275, 16.7, 7.8542, 12.65, 9.825, 8.6625, 90.0, 32.5, 13.0, 24.15, 14.4, 26.0, 26.0, 26.0, 120.0, 34.375, 18.75, 26.25, 13.0, 19.5, 19.2583, 10.5, 19.2583, 27.75, 13.7917, 9.8375, 12.2875, 9.5875, 90.0, 78.2667, 151.55, 7.75, 9.5875, 86.5, 26.0, 59.4, 10.5, 26.0, 93.5, 57.9792, 10.5, 26.0, 8.6625, 26.25, 106.425, 49.5, 71.0, 31.275, 31.275, 26.0, 7.775, 39.6, 79.65, 17.4, 21.075, 51.4792, 13.0, 55.9, 30.0, 110.8833, 79.65, 78.2667, 27.0, 41.5792, 153.4625, 31.275, 65.0, 16.1, 39.0, 77.9583, 27.9, 13.0, 39.6875, 69.3, 27.9, 19.2583, 7.55, 23.0, 6.75, 15.5, 39.0, 9.8417, 46.9, 211.3375, 13.4167, 227.525, 14.4542, 13.5, 151.55, 49.5042, 227.525, 10.5, 33.0, 21.0, 7.925, 211.3375, 34.375, 262.375, 13.0, 23.0, 65.0, 86.5, 120.0, 77.9583, 7.75, 10.5, 23.0, 12.475, 211.3375, 7.2292, 57.0, 7.4958, 25.9292, 8.6833, 24.15, 26.25, 7.775, 53.1, 31.275, 7.925, 93.5, 12.475, 80.0, 14.4542, 83.1583, 31.0, 15.2458, 39.4, 26.0, 9.35, 164.8667, 19.2583, 25.9292, 13.0, 13.8583, 52.5542, 24.0, 7.225, 83.1583, 26.0, 10.5167, 29.125, 30.0], 'male': [7.25, 8.05, 51.8625, 21.075, 8.05, 31.275, 29.125, 26.0, 13.0, 35.5, 263.0, 27.7208, 10.5, 82.1708, 52.0, 8.05, 39.6875, 7.8, 61.9792, 7.2292, 46.9, 7.2292, 83.475, 27.9, 8.1583, 8.6625, 10.5, 73.5, 14.4542, 56.4958, 7.65, 29.0, 9.0, 9.5, 47.1, 34.375, 8.05, 8.05, 7.8542, 61.175, 20.575, 7.25, 34.6542, 63.3583, 26.0, 77.2875, 8.6542, 7.925, 7.8958, 7.8958, 52.0, 8.05, 7.925, 7.75, 21.0, 247.5208, 73.5, 30.0708, 77.2875, 11.2417, 7.1417, 6.975, 7.8958, 7.05, 13.0, 15.0458, 53.1, 9.2167, 79.2, 6.75, 11.5, 36.75, 7.7958, 26.0, 13.0, 12.525, 8.05, 14.5, 61.3792, 8.05, 16.1, 7.775, 8.6625, 39.6875, 20.525, 56.4958, 33.5, 29.125, 7.925, 30.6958, 7.8542, 13.0, 0.0, 31.3875, 39.0, 26.55, 15.5, 7.8958, 13.0, 26.0, 8.4042, 9.5, 6.4958, 7.225, 8.05, 15.85, 18.7875, 31.0, 7.05, 7.25, 13.0, 27.0, 10.5, 8.05, 13.0, 8.05, 90.0, 9.35, 10.5, 7.25, 13.0, 7.775, 13.5, 10.5, 26.0, 10.5, 12.275, 10.5, 7.125, 7.225, 90.0, 52.5542, 26.0, 26.55, 16.1, 31.3875, 79.65, 0.0, 10.5, 39.6875, 7.775, 0.0, 29.7, 29.125, 7.75, 7.8542, 9.5, 8.05, 8.6625, 9.5, 7.8958, 13.0, 12.875, 7.8958, 7.2292, 0.0, 151.55, 24.0, 7.8958, 26.25, 14.0, 7.25, 7.8958, 6.2375, 28.5, 153.4625, 18.0, 66.6, 8.05, 35.5, 26.0, 13.0, 13.0, 13.0, 15.9, 8.6625, 9.225, 7.2292, 17.8, 9.5, 27.9, 27.7208, 7.05, 7.25, 55.4417, 6.4958, 8.05, 135.6333, 211.5, 4.0125, 7.775, 7.925, 73.5, 46.9, 120.0, 7.7958, 7.925, 7.7958, 26.0, 10.5, 7.925, 8.05, 15.85, 21.0, 7.75, 18.75, 7.775, 7.925, 13.0, 7.7333, 7.875, 20.2125, 8.05, 26.55, 7.125, 55.9, 263.0, 10.5, 9.5, 7.775, 81.8583, 26.55, 30.5, 27.75, 27.75, 89.1042, 7.8958, 26.55, 26.55, 8.05, 38.5, 13.0, 7.05, 26.55, 8.6625, 21.0, 7.0458, 7.5208, 46.9, 8.05, 91.0792, 29.7, 8.05, 15.9, 7.25, 30.5, 49.5042, 8.05, 7.7958, 8.6625, 108.9, 22.525, 56.4958, 7.75, 26.2875, 7.4958, 34.0208, 7.8958, 7.8958, 7.75, 7.925, 11.5, 7.2292, 26.55, 26.0, 106.425, 26.0, 20.525, 36.75, 110.8833, 26.0, 7.225, 26.55, 7.8958, 13.5, 24.15, 7.8958, 7.8542, 10.5, 26.3875, 8.05, 14.5, 7.925, 26.0, 40.125, 15.0, 79.2, 8.05, 7.125, 7.25, 26.0, 24.15, 0.0, 56.9292, 8.05, 26.55, 15.55, 7.8958, 30.5, 8.05, 14.4, 10.5, 14.4542, 52.5542, 15.7417, 7.8542, 16.1, 32.3208, 12.35, 7.8958, 30.0, 7.0542, 30.5, 7.925, 26.25, 7.8542, 76.7292, 7.8958, 35.5, 8.4333, 73.5, 13.0, 113.275, 133.65, 7.225, 25.5875, 7.4958, 7.925, 73.5, 13.0, 8.05, 52.0, 10.5, 13.0, 7.775, 8.05, 512.3292, 76.7292, 9.225, 46.9, 39.0, 41.5792, 39.6875, 10.1708, 7.7958, 57.0, 7.225, 26.55, 13.5, 8.05, 110.8833, 7.65, 26.2875, 7.7417, 7.8542, 26.0, 26.2875, 52.0, 9.4833, 13.0, 7.65, 7.775, 7.0542, 13.0, 13.0, 53.1, 8.6625, 26.0, 18.7875, 13.0, 13.0, 16.1, 512.3292, 78.85, 16.1, 7.925, 71.0, 20.25, 53.1, 7.75, 12.475, 9.5, 7.8958, 14.5, 7.7958, 11.5, 8.05, 7.125, 7.2292, 7.775, 8.3625, 9.5, 7.8542, 7.75, 30.0, 7.05, 7.25, 29.125, 20.575, 79.2, 26.0, 7.8958, 13.0, 7.2292, 13.0, 120.0, 8.5167, 6.975, 7.775, 0.0, 13.0, 7.8875, 24.15, 10.5, 8.05, 37.0042, 6.45, 27.9, 8.6625, 0.0, 39.6875, 37.0042, 18.75, 7.8542, 8.3, 8.6625, 56.4958, 7.925, 10.5, 6.4375, 8.6625, 7.55, 7.8958, 33.0, 31.275, 7.775, 26.55, 14.1083, 11.5, 13.0, 50.4958, 11.1333, 7.8958, 5.0, 9.0, 9.8458, 7.8958, 7.8958, 10.5, 7.05, 13.0, 30.0, 7.75]}

In [7]:
import pandas as pd
from sklearn.datasets import load_iris

In [8]:
# Load iris dataset
iris = load_iris(as_frame=True)
df_iris = iris.frame
df_iris['species'] = df_iris['target'].map(dict(zip(range(3), iris.target_names)))

In [9]:
# Group by species and calculate statistics
species_stats = df_iris.groupby('species').describe(percentiles=[.25, .5, .75])
print("Detailed Statistics Grouped by Species:\n")
print(species_stats)

Detailed Statistics Grouped by Species:

           sepal length (cm)                                              \
                       count   mean       std  min    25%  50%  75%  max
species
setosa                  50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor              50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica               50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal width (cm)         ... petal width (cm)      target       \
                      count   mean  ...              75%  max  count mean
species                             ...
setosa                 50.0  3.428  ...              0.3  0.6   50.0  0.0
versicolor             50.0  2.770  ...              1.5  1.8   50.0  1.0
virginica              50.0  2.974  ...              2.3  2.5   50.0  2.0


            std  min  25%  50%  75%  max
species
setosa      0.0  0.0  0.0  0.0  0.0  0.0
versicolor  0.0  1.0  1.0  1.0  1.0  1.0
virginica   0.0  2.0  2.0  2.0  2.0  2.0

[3 rows x 40 columns]